:root{
   font-family: 'verdana';
}
.error-summary {
  color: red;
  border-style: solid;
  padding: 1rem;
}
.error textarea:focus {
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px maroon;
}

.error-summary ul {
  list-style-type: none;
  padding: 0;
  color: inherit;
}
.error-summary ul li a {
  color: maroon;
}

.inline-errors {
  color: red;
}

input, button, textarea, select {
 font: inherit;
}

form {
 width: 700px;
 margin: 20px;
}

.input {
 margin-bottom: 1em;
}

label {
 display: block;
 margin-bottom: 0.5em;
}

input, select, textarea {
 width: 90%;
 padding: 0.5em;
}
