/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root{
   font-family: 'verdana';
}
.error-summary {
  color: red;
  border-style: solid;
  padding: 1rem;
}

.error-summary ul {
  list-style-type: none;
  padding: 0;
  color: inherit;
}
.error-summary ul li a {
  color: red;
}

.inline-errors {
  color: red;
}

input, button, textarea, select {
 font: inherit;
}

form {
 max-width: 600px;
 margin: 20px;
}

.input {
 margin-bottom: 1em;
}

label {
 display: block;
 margin-bottom: 0.5em;
}

input, select, textarea {
 width: 100%;
 padding: 0.5em;
}
